APP_TOKEN=app_token_from_https://data.lacity.org/profile/edit/developer_settings
POSTGRES_USER=pick_your_own_user
POSTGRES_PASSWORD=pick_your_own_password
POSTGRES_DB=la_meter_parking_or_your_own_db_name
POSTGRES_HOST=localhost_or_your_db_host
POSTGRES_PORT=5432
DATA_PERSISTENCE_DIR=la_meter_parking_postgres_data